<!DOCTYPE html>
<html>
  <head>
    <title>Mindrock</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>v 
    <!-- Heading & subheading -->
    <div class="wrapper">
      <div class="heading">
        <h1>MindRock</h1>
      </div>
      <div class="sub-heading">
        <h3>Train your mind</h3>
      </div>
    </div>

    <!-- Description section -->
    <div class="description">
      <p>Mind rock is a WeChat Mini Program that challenges you to complete 7-day comfort zone challenges. What does that mean? Think 7-days of talking to a stranger or giving a compliment to a friend.</p>
    </div>
    
    <!-- WeChat Mini Program QR code -->
    <div class="qr-code-div">
      <img src="#" alt="WeChat Mini Program QR code">
    </div>
    
    <!-- Call to action -->
    <div class="call-to-action">
      <p>Use WeChat to scan!</p>
    </div>

    <%= yield %>
  </body>
</html>
